<center>
  <h3 class="g-mt-80">Contact Us, Anything</h3>
  <div class="row g-mt-30">
    <div class="col-md-2 col-md-offset-2 g-mb-80">
      <img class="img-responsive g-mb-10 contact-logo" src='<%= asset_path "facebook_logo.png" %>' alt="">
      <font>facebook</font><br>
      <font color="red">youyou</font>
    </div>
    <div class="col-md-2 col-sm-8 g-mb-80">
      <img class="img-responsive g-mb-10 contact-logo" src='<%= asset_path "insta_logo.png" %>' alt="">      
      <font>instagram</font><br>
      <font color="red">youyou</font>
    </div>
    <div class="col-md-2 col-sm-8 g-mb-80">
      <img class="img-responsive g-mb-10 contact-logo" src='<%= asset_path "whatsapp_logo.png" %>' alt="">  
      <font>whatsapp</font><br>
      <font color="red">+8210-9590-6211</font>
    </div>
    <div class="col-md-2 g-mb-80">
      <img class="img-responsive g-mb-10 contact-logo" src='<%= asset_path "line_logo.png" %>' alt="">  
      <font>line</font><br>
      <font color="red">youyou_travel</font>
    </div>
  </div><hr>
</center>