<div class="serviceflow" style="background-color: #eee;">
  <center>
    <div class="row">
      <div class="service-box1 col-md-offset-1 col-md-5 col-sm-11" style="margin-top:50px;">
        <h4 class="service-title"> Who can I ask to help me when I have
          difficulties while traveling?</h4>
        <p class="service-content"> Feel free to ask your local friends about your
          problems you may have in Korea.</p>
      </div>
  
      <div class="service-box2 col-md-5 col-sm-12" style="margin-top:50px;">
        <h4 class="service-title"> I want to make foreign friends.
          What should I do? </p></b>
          <p class="service-content">You might agree that a language exchange program, a
            random chat application, and a study meeting with foreigners
            are one-time things.
            Help foreign tourists and be friends with them.</p>
      </div>   
    </div>
    <div class="text-center g-mt-80"><h3>Service Flow</h3></div>
    <div class="g-mt-50 text-center">
      <div class="row" style="padding-bottom:30px;">
        <div class="col-md-offset-2 col-md-2 col-sm-12">
          <img class="img-responsive" src='<%= asset_path "service_01.png" %>' alt="">
          <h4>01</h4>
          please fill out the request form and write about your travel itineray.
        </div>
        <div class="col-md-2 col-sm-12">
          <img class="img-responsive" src='<%= asset_path "service_02.png" %>' alt="">
          <h4>02</h4>
          Yout local friends contact you to help you using a messenger.
        </div>
        <div class="col-md-2 col-sm-12">
          <img class="img-responsive" src='<%= asset_path "service_03.png" %>' alt="">
          <h4>03</h4>
          Ask YOUYOU Whenever you have difficulties in planning yout travel plan and travelling to Korea
        </div>
        <div class="col-md-2 col-sm-12">
          <img class="img-responsive" src='<%= asset_path "service_04.png" %>' alt="">
          <h4>04</h4>
          After you became friends with YOUYOU. you can also meet them in persom. They will tell you more about Korea.
        </div>
      </div>
    </div>
  </center>
</div>
