<img class="img-responsive" src='<%= asset_path "request_banner.png" %>' alt="">
<div class="container text-center">
  <div class="learn-field g-mt-50 col-md-6 col-md-offset-3" style="border: 1px solid black">
    <form action="/learn" class="g-mt-20">
      ASK : <input type="text" name="ask">
      ANSWER : <input type="text" name="answer"><br>
      <input type="submit" value="가르치기" class="write-btn g-mt-30">
    </form>
  </div>
</div>

