
    <div class="row">

      <div class="logo col-md-3 col-sm-12">
        <img src='<%= asset_path "lof_logo.png" %>' alt=""class="img-responsive">
      </div>

      <div class="text col-md-9 col-sm-12">
        <p class="g-mt-50">
          Company:LoF co., Itd. |
          Ceo:Sungho ha |
          Corporate registration number:838-81-00646 |
          Address:New building401, 2, Toegye-ro 36-gil, Jung-gu, Seoul, Republic of Korea |
          Tel:02-2272-1025 |
          Email:localfriend16@naver.com |
          kakaotalk ID:frommooon
        </p>
        <p class="g-mt-30">
          CopyrightⒸ 2017 Lof Inc.All rights reserved.
        </p>
      </div>

    </div>
