<header class="masthead main_banner">
  <div class="container">
    <center>
    <div class="intro-text">
      <div class="intro-lead-in">Do you need any help while traveling?</div><br><hr width="50%">
      <div class="intro-heading ">Solve your problems you face during your trip through online chatting with your local friends.</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#">Make a Request!</a>
    </div>
    </center>
  </div>
</header>